<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Payment</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <style>
    h1, p {
      margin: 0 0 20px;
      padding: 60px 10px;
      font: normal 400 60px/1.5 "Helvetica Nenu", Hevetica, Arial, sans-serif;
      color: #404040;
      text-align: center;
      -webkit-font-smoothing: antialiased;
    }
    p {
      font-size: 24px;
      padding-top: 0;
    }
    a {
      color: #42b983;
    }
  </style>
</head>
<body>
  <h1>Thanks!</h1>
  <p>From <a href="http://pinedesk.biz">Dane Summers</a></p>
</body>
</html>
